<settings>

	<setting propertyKey="@Properties.powerMode" title="@Strings.powerModeSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.pm0</listEntry>
			<listEntry value="1">@Strings.pm1</listEntry>
			<listEntry value="2">@Strings.pm2</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.powerDNDMode" title="@Strings.powerDNDModeSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.pdndm0</listEntry>
			<listEntry value="1">@Strings.pdndm1</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.secMode" title="@Strings.secModeSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.sm0</listEntry>
			<listEntry value="1">@Strings.sm1</listEntry>
			<listEntry value="2">@Strings.sm2</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.secSize" title="@Strings.secSizeSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.ss0</listEntry>
			<listEntry value="1">@Strings.ss1</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.batteryFormat" title="@Strings.batteryFormatSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.batteryFormat0</listEntry>
			<listEntry value="1">@Strings.batteryFormat1</listEntry>
			<listEntry value="2">@Strings.batteryFormat2</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.dateFormat" title="@Strings.dateFormatSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.dateFormat0</listEntry>
			<listEntry value="1">@Strings.dateFormat1</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.weekdayLang" title="@Strings.weekdayLangSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.weekdayLang0</listEntry>
			<listEntry value="9">@Strings.weekdayLang9</listEntry>
			<listEntry value="7">@Strings.weekdayLang7</listEntry>
			<listEntry value="12">@Strings.weekdayLang12</listEntry>
			<listEntry value="1">@Strings.weekdayLang1</listEntry>
			<listEntry value="3">@Strings.weekdayLang3</listEntry>
			<listEntry value="2">@Strings.weekdayLang2</listEntry>
			<listEntry value="11">@Strings.weekdayLang11</listEntry>
			<listEntry value="6">@Strings.weekdayLang6</listEntry>
			<listEntry value="5">@Strings.weekdayLang5</listEntry>
			<listEntry value="10">@Strings.weekdayLang10</listEntry>
			<listEntry value="8">@Strings.weekdayLang8</listEntry>
			<listEntry value="4">@Strings.weekdayLang4</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.alignCenter" title="@Strings.alignCenterSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.alignCenter0</listEntry>
			<listEntry value="1">@Strings.alignCenter1</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.timeFormat" title="@Strings.timeFormatSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.timeFormat0</listEntry>
			<listEntry value="1">@Strings.timeFormat1</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.secondTime" title="@Strings.secondTimeSettings">
		<settingConfig type="numeric" min="-720" max="840"/>
	</setting>

	<setting propertyKey="@Properties.leadingZero" title="@Strings.leadingZeroSettings">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.dfMode1" title="@Strings.dataFieldSettings1">
		<settingConfig type="list">
			<listEntry value="0">@Strings.df0</listEntry>
			<listEntry value="1">@Strings.df1</listEntry>
			<listEntry value="2">@Strings.df2</listEntry>
			<listEntry value="8">@Strings.df8</listEntry>
			<listEntry value="3">@Strings.df3</listEntry>
			<listEntry value="4">@Strings.df4</listEntry>
			<listEntry value="5">@Strings.df5</listEntry>
			<listEntry value="7">@Strings.df7</listEntry>
			<listEntry value="9">@Strings.df9</listEntry>
			<listEntry value="11">@Strings.df11</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.dfMode2" title="@Strings.dataFieldSettings2">
		<settingConfig type="list">
			<listEntry value="0">@Strings.df0</listEntry>
			<listEntry value="1">@Strings.df1</listEntry>
			<listEntry value="2">@Strings.df2</listEntry>
			<listEntry value="8">@Strings.df8</listEntry>
			<listEntry value="3">@Strings.df3</listEntry>
			<listEntry value="4">@Strings.df4</listEntry>
			<listEntry value="5">@Strings.df5</listEntry>
			<listEntry value="7">@Strings.df7</listEntry>
			<listEntry value="9">@Strings.df9</listEntry>
			<listEntry value="11">@Strings.df11</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.dfMode3" title="@Strings.dataFieldSettings3">
		<settingConfig type="list">
			<listEntry value="0">@Strings.df0</listEntry>
			<listEntry value="1">@Strings.df1</listEntry>
			<listEntry value="2">@Strings.df2</listEntry>
			<listEntry value="8">@Strings.df8</listEntry>
			<listEntry value="3">@Strings.df3</listEntry>
			<listEntry value="4">@Strings.df4</listEntry>
			<listEntry value="5">@Strings.df5</listEntry>
			<listEntry value="7">@Strings.df7</listEntry>
			<listEntry value="9">@Strings.df9</listEntry>
			<listEntry value="11">@Strings.df11</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.dfMode0" title="@Strings.dataFieldSettings0">
		<settingConfig type="list">
			<listEntry value="10">@Strings.df10</listEntry>
			<listEntry value="0">@Strings.df0</listEntry>
			<listEntry value="1">@Strings.df1</listEntry>
			<listEntry value="2">@Strings.df2</listEntry>
			<listEntry value="8">@Strings.df8</listEntry>
			<listEntry value="3">@Strings.df3</listEntry>
			<listEntry value="4">@Strings.df4</listEntry>
			<listEntry value="5">@Strings.df5</listEntry>
			<listEntry value="7">@Strings.df7</listEntry>
			<listEntry value="9">@Strings.df9</listEntry>
			<listEntry value="11">@Strings.df11</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.dfMode4" title="@Strings.dataFieldSettings4">
		<settingConfig type="list">
			<listEntry value="10">@Strings.df10</listEntry>
			<listEntry value="0">@Strings.df0</listEntry>
			<listEntry value="1">@Strings.df1</listEntry>
			<listEntry value="2">@Strings.df2</listEntry>
			<listEntry value="8">@Strings.df8</listEntry>
			<listEntry value="3">@Strings.df3</listEntry>
			<listEntry value="4">@Strings.df4</listEntry>
			<listEntry value="5">@Strings.df5</listEntry>
			<listEntry value="7">@Strings.df7</listEntry>
			<listEntry value="9">@Strings.df9</listEntry>
			<listEntry value="11">@Strings.df11</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.showBattery" title="@Strings.showBatterySettings">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.showBluetooth" title="@Strings.showBluetoothSettings">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.showMessages" title="@Strings.showMessagesSettings">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.showAlarms" title="@Strings.showAlarmsSettings">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.showDND" title="@Strings.showDNDSettings">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.theme" title="@Strings.themeSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.theme0</listEntry>
			<listEntry value="1">@Strings.theme1</listEntry>
			<listEntry value="2">@Strings.theme2</listEntry>
			<listEntry value="3">@Strings.theme3</listEntry>
			<listEntry value="4">@Strings.theme4</listEntry>
			<listEntry value="5">@Strings.theme5</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.colorBackground" title="@Strings.colorBackgroundSettings">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.color0</listEntry>
			<listEntry value="0xAAAAAA">@Strings.color1</listEntry>
			<listEntry value="0x555555">@Strings.color2</listEntry>
			<listEntry value="0x000000">@Strings.color3</listEntry>
			<listEntry value="0xFF0000">@Strings.color4</listEntry>
			<listEntry value="0xAA0000">@Strings.color5</listEntry>
			<listEntry value="0xFF5500">@Strings.color6</listEntry>
			<listEntry value="0xFFAA00">@Strings.color7</listEntry>
			<listEntry value="0x00FF00">@Strings.color8</listEntry>
			<listEntry value="0x00AA00">@Strings.color9</listEntry>
			<listEntry value="0x00AAFF">@Strings.color10</listEntry>
			<listEntry value="0x0000FF">@Strings.color11</listEntry>
			<listEntry value="0xFF00FF">@Strings.color12</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.colorTime" title="@Strings.colorTimeSettings">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.color0</listEntry>
			<listEntry value="0xAAAAAA">@Strings.color1</listEntry>
			<listEntry value="0x555555">@Strings.color2</listEntry>
			<listEntry value="0x000000">@Strings.color3</listEntry>
			<listEntry value="0xFF0000">@Strings.color4</listEntry>
			<listEntry value="0xAA0000">@Strings.color5</listEntry>
			<listEntry value="0xFF5500">@Strings.color6</listEntry>
			<listEntry value="0xFFAA00">@Strings.color7</listEntry>
			<listEntry value="0x00FF00">@Strings.color8</listEntry>
			<listEntry value="0x00AA00">@Strings.color9</listEntry>
			<listEntry value="0x00AAFF">@Strings.color10</listEntry>
			<listEntry value="0x0000FF">@Strings.color11</listEntry>
			<listEntry value="0xFF00FF">@Strings.color12</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.colorData" title="@Strings.colorDataSettings">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.color0</listEntry>
			<listEntry value="0xAAAAAA">@Strings.color1</listEntry>
			<listEntry value="0x555555">@Strings.color2</listEntry>
			<listEntry value="0x000000">@Strings.color3</listEntry>
			<listEntry value="0xFF0000">@Strings.color4</listEntry>
			<listEntry value="0xAA0000">@Strings.color5</listEntry>
			<listEntry value="0xFF5500">@Strings.color6</listEntry>
			<listEntry value="0xFFAA00">@Strings.color7</listEntry>
			<listEntry value="0x00FF00">@Strings.color8</listEntry>
			<listEntry value="0x00AA00">@Strings.color9</listEntry>
			<listEntry value="0x00AAFF">@Strings.color10</listEntry>
			<listEntry value="0x0000FF">@Strings.color11</listEntry>
			<listEntry value="0xFF00FF">@Strings.color12</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.colorLine" title="@Strings.colorLineSettings">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.color0</listEntry>
			<listEntry value="0xAAAAAA">@Strings.color1</listEntry>
			<listEntry value="0x555555">@Strings.color2</listEntry>
			<listEntry value="0x000000">@Strings.color3</listEntry>
			<listEntry value="0xFF0000">@Strings.color4</listEntry>
			<listEntry value="0xAA0000">@Strings.color5</listEntry>
			<listEntry value="0xFF5500">@Strings.color6</listEntry>
			<listEntry value="0xFFAA00">@Strings.color7</listEntry>
			<listEntry value="0x00FF00">@Strings.color8</listEntry>
			<listEntry value="0x00AA00">@Strings.color9</listEntry>
			<listEntry value="0x00AAFF">@Strings.color10</listEntry>
			<listEntry value="0x0000FF">@Strings.color11</listEntry>
			<listEntry value="0xFF00FF">@Strings.color12</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.splitHeight" title="@Strings.splitHeightSettings">
		<settingConfig type="list">
			<listEntry value="2">@Strings.splitHeight0</listEntry>
			<listEntry value="4">@Strings.splitHeight1</listEntry>
			<listEntry value="8">@Strings.splitHeight2</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.colorStrings" title="@Strings.colorStringsSettings">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.color0</listEntry>
			<listEntry value="0xAAAAAA">@Strings.color1</listEntry>
			<listEntry value="0x555555">@Strings.color2</listEntry>
			<listEntry value="0x000000">@Strings.color3</listEntry>
			<listEntry value="0xFF0000">@Strings.color4</listEntry>
			<listEntry value="0xAA0000">@Strings.color5</listEntry>
			<listEntry value="0xFF5500">@Strings.color6</listEntry>
			<listEntry value="0xFFAA00">@Strings.color7</listEntry>
			<listEntry value="0x00FF00">@Strings.color8</listEntry>
			<listEntry value="0x00AA00">@Strings.color9</listEntry>
			<listEntry value="0x00AAFF">@Strings.color10</listEntry>
			<listEntry value="0x0000FF">@Strings.color11</listEntry>
			<listEntry value="0xFF00FF">@Strings.color12</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.colorBigStrings" title="@Strings.colorBigStringsSettings">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.color0</listEntry>
			<listEntry value="0xAAAAAA">@Strings.color1</listEntry>
			<listEntry value="0x555555">@Strings.color2</listEntry>
			<listEntry value="0x000000">@Strings.color3</listEntry>
			<listEntry value="0xFF0000">@Strings.color4</listEntry>
			<listEntry value="0xAA0000">@Strings.color5</listEntry>
			<listEntry value="0xFF5500">@Strings.color6</listEntry>
			<listEntry value="0xFFAA00">@Strings.color7</listEntry>
			<listEntry value="0x00FF00">@Strings.color8</listEntry>
			<listEntry value="0x00AA00">@Strings.color9</listEntry>
			<listEntry value="0x00AAFF">@Strings.color10</listEntry>
			<listEntry value="0x0000FF">@Strings.color11</listEntry>
			<listEntry value="0xFF00FF">@Strings.color12</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.colorInactive" title="@Strings.colorInactiveSettings">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.color0</listEntry>
			<listEntry value="0xAAAAAA">@Strings.color1</listEntry>
			<listEntry value="0x555555">@Strings.color2</listEntry>
			<listEntry value="0x000000">@Strings.color3</listEntry>
			<listEntry value="0xFF0000">@Strings.color4</listEntry>
			<listEntry value="0xAA0000">@Strings.color5</listEntry>
			<listEntry value="0xFF5500">@Strings.color6</listEntry>
			<listEntry value="0xFFAA00">@Strings.color7</listEntry>
			<listEntry value="0x00FF00">@Strings.color8</listEntry>
			<listEntry value="0x00AA00">@Strings.color9</listEntry>
			<listEntry value="0x00AAFF">@Strings.color10</listEntry>
			<listEntry value="0x0000FF">@Strings.color11</listEntry>
			<listEntry value="0xFF00FF">@Strings.color12</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.colorDnd" title="@Strings.colorDndSettings">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.color0</listEntry>
			<listEntry value="0xAAAAAA">@Strings.color1</listEntry>
			<listEntry value="0x555555">@Strings.color2</listEntry>
			<listEntry value="0x000000">@Strings.color3</listEntry>
			<listEntry value="0xFF0000">@Strings.color4</listEntry>
			<listEntry value="0xAA0000">@Strings.color5</listEntry>
			<listEntry value="0xFF5500">@Strings.color6</listEntry>
			<listEntry value="0xFFAA00">@Strings.color7</listEntry>
			<listEntry value="0x00FF00">@Strings.color8</listEntry>
			<listEntry value="0x00AA00">@Strings.color9</listEntry>
			<listEntry value="0x00AAFF">@Strings.color10</listEntry>
			<listEntry value="0x0000FF">@Strings.color11</listEntry>
			<listEntry value="0xFF00FF">@Strings.color12</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.colorBattery" title="@Strings.colorBatterySettings">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.color0</listEntry>
			<listEntry value="0xAAAAAA">@Strings.color1</listEntry>
			<listEntry value="0x555555">@Strings.color2</listEntry>
			<listEntry value="0x000000">@Strings.color3</listEntry>
			<listEntry value="0xFF0000">@Strings.color4</listEntry>
			<listEntry value="0xAA0000">@Strings.color5</listEntry>
			<listEntry value="0xFF5500">@Strings.color6</listEntry>
			<listEntry value="0xFFAA00">@Strings.color7</listEntry>
			<listEntry value="0x00FF00">@Strings.color8</listEntry>
			<listEntry value="0x00AA00">@Strings.color9</listEntry>
			<listEntry value="0x00AAFF">@Strings.color10</listEntry>
			<listEntry value="0x0000FF">@Strings.color11</listEntry>
			<listEntry value="0xFF00FF">@Strings.color12</listEntry>
		</settingConfig>
	</setting>

	<!--WEATHER -->

	<setting propertyKey="@Properties.weatherOwmKey" title="@Strings.weatherOwmKeySettings" prompt="@Strings.weatherOwmKeyHelp" helpUrl="https://openweathermap.org/api">
		<settingConfig type="alphaNumeric"/>
	</setting>

	<setting propertyKey="@Properties.tempFormat" title="@Strings.tempFormatSettings">
		<settingConfig type="list">
			<listEntry value="0">@Strings.tempFormat0</listEntry>
			<listEntry value="1">@Strings.tempFormat1</listEntry>
		</settingConfig>
	</setting>

</settings>
